In [1]:
import pandas as pd
import numpy as np
import os

pop1 = pd.read_csv("http://neo.sci.gsfc.nasa.gov/servlet/RenderData?si=875430&cs=rgb&format=SS.CSV&width=1440&height=720")

In [2]:
pop = pop1.set_index('lat/lon')
del pop.index.name

In [3]:
data = pop.astype(object)

In [4]:
popdens = [] 
lon = []
lat = []
col = tuple(data.columns.values)

In [5]:
for ele in data['121.375']:
        if ele < 99999 and ele >5:
            popdens.append(ele)
            lon.append('121.375')
            lat.append(data['121.375'].index[data['121.375'] == ele].tolist()[0])

In [6]:
fin = pd.DataFrame(popdens)
fin['lon'] = lon
fin['lat'] = lat
fin.rename(columns={0:'popdens'}, inplace=True)
fin.head(10)

   popdens      lon     lat
0     7.09  121.375  51.375
1     7.09  121.375  51.375
2     7.09  121.375  51.375
3    13.13  121.375  50.625
4    14.11  121.375  50.375
5    14.11  121.375  50.375
6    14.11  121.375  50.375
7    14.11  121.375  50.375
8    14.11  121.375  50.375
9    14.11  121.375  50.375

In [ ]:
def pops(x):
    for ele in x:
        if ele < 99999 and ele > 5:
            popdens.append(ele)
            lon.append('121.375')
            lat.append(data['121.375'].index[data['121.375'] == ele].tolist()[0])

In [16]:
butt = data.stack().to_frame('item').query('200 < item < 99999')

In [17]:
butt = butt.reset_index(drop=False)

In [18]:
butt.rename(columns={'level_0':'lat','level_1':'lon','item':'popdens'}, inplace=True)

In [20]:
butt.head(10)

      lat       lon  popdens
0  69.375    88.125  2102.98
1  65.125    57.375   790.02
2  64.875  -147.875   382.54
3  64.375    40.875   819.19
4  64.125   -21.875   396.67
5  63.375    10.125   442.25
6  63.375    10.375   442.25
7  63.375    10.625   368.92
8  63.125    75.375  2180.63
9  62.625    29.625   266.19